/* cvform.css */

body {
  background:  #a3846c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 60px auto;
  background: #d8ccbf;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

ul#fileList {
  list-style: none;
  padding: 0;
}

ul#fileList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d8ccbf9f;
  padding: 12px 20px;
  margin-bottom: 12px;
  border-left: 4px solid #070012;
  border-radius: 6px;
  transition: background 0.3s;
}

ul#fileList li:hover {
  background: #eee;
}

ul#fileList li span {
  color: #444;
  font-size: 16px;
}

.btn {
  background-color: #bea794;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #9c846b;
}
