
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #000;
}

.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.login-btn {
  background-color: #bea794;
  color: #765137;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.login-btn:hover {
  background-color: #a3846c;
}

.diagonal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #9A897B;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  z-index: -1;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.text-box {
  max-width: 40%;
}

.text-box h1 {
  font-size: 2.5rem;
  line-height: 1.4;
}

.create-btn {
  display: inline-block; /* Necesario para que margin funcione bien en <a> */
  margin-top: 42px; /* 10px extra respecto al estilo anterior */
  padding: 1rem 2rem;
  background-color: #d8ccbf;
  color: #765137;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.create-btn:hover {
  background-color: #a3846c;
}

.images {
  display: flex;
  flex-direction: row;      /* Cambia de columna a fila */
  flex-wrap: wrap;          /* Permite que se acomoden en varias filas si es necesario */
  gap: 2rem;
  justify-content: center;  /* Centra horizontalmente las imágenes */
  margin-top: 2rem;         /* Espacio arriba de las imágenes */
}

.image-placeholder {
  flex: 1;
  max-width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-placeholder img {
  width: 100%;
  height: auto;
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
}
