body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #8e7663 ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-menu {
  background-color:  #9a897b99;
  backdrop-filter: blur(12px);
  padding: 3rem 5rem;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  color: #EDE3D6;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginForm, #registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color:#EDE3D6;
}

label {
  display: block;
  margin: 1rem 0 0.5rem;
  font-weight: 600;
  text-align: left;
  color: #ffffffcc;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 18px;
  margin: 8px 10px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #EDE3D6;
  color: #333;
  transition: 0.3s ease;

}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: 2px solid #bea794;
}

button[type="submit"] {
  width: 100%;
  background-color: #bea794;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 0.5rem;
}

button[type="submit"]:hover {
  background-color: #a3846c;
  transform: scale(1.02);
}

a {
  display: inline-block;
  margin-top: 1rem;
  color: #ffffffcc;
  text-decoration: none;
  font-size: 0.9rem;
}

a:hover {
  text-decoration: underline;
}

.register-link {
  position: fixed;
  bottom: 15px;
  left: 20px;
  font-size: 0.95rem;
  color: rgb(5, 5, 5);
  font-weight: 400;
  z-index: 10;
  margin: 0;
}

.register-link a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
