body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #6A858C;
/* Estilo para el menú de login */

.login-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    color: white;
  }
  
  .login-container {
    text-align: center;
    background: transparent;
    padding: 2rem;
    border-radius: 10px;
  }
  
  .login-container h1 {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .login-container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: black;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 300px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    margin-bottom: 15px;
    outline: none;
  }
  
  .forgot-password {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
  }
  
  button {
    background-color: #BF6D3C;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #a4572d;
  }
  
  .register-link {
    margin-top: 2rem;
    font-size: 1rem;
    color: white;
  }
  
  .register-link a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  